<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @scrape.title %>
</p>

<%if @scrape.result_f  %>
  <%=link_to "results", @scrape.result_f.url  %></br>
  <% end -%>



<%= link_to 'Edit', edit_scrape_path(@scrape) %> |
<%= link_to 'Back', scrapes_path %>
